<html>
    <h1>Kidney Stone Detection Prediction</h1>
    <form action="/" method="post">
        <p>Please enter gravity : </p>
        <p><input type="number" step="0.01" name="gravity"></p>
        <p>Please enter ph : </p>
        <p><input type="number" step="0.01" name="ph"></p>
        <p>Please enter osmo : </p>
        <p><input type="number" step="0.01" name="osmo"></p>
        <p>Please enter cond : </p>
        <p><input type="number" step="0.01" name="cond"></p>
        <p>Please enter urea : </p>
        <p><input type="number" step="0.01" name="urea"></p>
        <p>Please enter calc : </p>
        <p><input type="number" step="0.01" name="calc"></p>
        <p><input type="submit" value="Enter"></p>
    </form>
    <p>The predicted Kidney Stone {{result}}</p>
</html>